body {
  background-color: #000;
  color: #FFF;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}



/* Fix Dragging in React Multi Carousel */

.fix-drag::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}