@tailwind base;
@tailwind components;
@tailwind utilities;


/* TailwindCSS Custom Classes*/

@layer utilities {
  .hidden-force {
    display: none !important;
  }

  .overlay-black::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }

  .overlay-black-before::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
}